<mat-card>
    <mat-card-title class="card-title">
        <mat-form-field class="input-name" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Book club suggestions" [(ngModel)]="name" (ngModelChange)="name_update($event)">
        </mat-form-field>
        <button mat-icon-button class="example-icon" matTooltip="Delete form field" (click)="close_click()">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div class="container-wrapper">
            <div class="container">
                <mat-form-field class="description-textarea" appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea 
                        matInput 
                        placeholder="Here you can suggest your idea how to make next club session better" 
                        [(ngModel)]="description" 
                        (ngModelChange)="description_update($event)"
                    ></textarea>
                </mat-form-field>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div class="container">
                <mat-form-field class="placeholder-textarea" appearance="fill">
                    <mat-label>Position preview</mat-label>
                    <textarea matInput disabled></textarea>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>