.description-textarea {
    width: 100%;
    font-size: 12pt;
}

.input-name {
    font-size: 12pt;
    margin-right: auto;
}

.card-title {
    display: flex;
}

.option-input {
    width: 50%;
    font-size: 12pt;
}