.description-textarea {
    width: 80%;
    font-size: 12pt;
}

.input-name {
    font-size: 12pt;
    margin-right: auto;
}

.card-title {
    display: flex;
}

.option-input {
    width: 50%;
    font-size: 12pt;
}

.container-wrapper {
    padding-top: 0.25rem;
    display: flex;
}

.container {
    flex-basis: 100%;
    margin: 0.25rem;
}