.table {
    width: 100%;
}

.title-container {
    display: flex;
}

.separator {
    margin-left: auto;
    margin-right: auto;
}

.tabe_column_header {
    width: 40%;
}

.tabe_index_column_header {
    width: 20%;
}