.description-textarea {
    width: 100%;
    font-size: 12pt;
}

.input-name {
    font-size: 12pt;
    margin-right: auto;
}

.input-placeholder {
    font-size: 12pt;
    width: 40%;
    margin-left: auto;
}

.card-title {
    display: flex;
}