<mat-sidenav-container class="container">
    <mat-sidenav #side mode="side" opened>
        <mat-toolbar color="primary">
            Forms
        </mat-toolbar>
        <button mat-raised-button color="accent" (click)="create_new_form()">Create new</button>
        <mat-selection-list #forms [multiple]="false">
            <mat-list-option *ngFor="let form of forms_list_short" [value]="form.id">
                {{form.name}}
            </mat-list-option>
        </mat-selection-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" (click)="side.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>My Application</span>
        </mat-toolbar>
        <ng-container *ngIf="forms.selectedOptions.selected[0]?.value">
            <forms-scene-tabs [form_id]="forms.selectedOptions.selected[0]?.value"></forms-scene-tabs>
        </ng-container>
        <ng-container *ngIf="!forms.selectedOptions.selected[0]?.value">
            <p class="attention_text">Please, select or create form to view in left side menu</p>
        </ng-container>
    </mat-sidenav-content>
</mat-sidenav-container>
