.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100vh;
}

.attention_text {
    text-align: center;
    font-size: large;
}

.side {
    width: 12%;
}

.centered-container {
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}